@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark light;
    --bg-dark: #13151a;
    --bg-light: #f0f0f0;
}


html {
    scroll-behavior: smooth;
    background-color: var(--bg-dark);
}

::-webkit-scrollbar {
    width: 10px;
}

/* Cambiar el puntero del mouse por el que esta en la 
    *path /puntero/puntero.png 
*/

body {
    cursor: url('/img/puntero/puntero.png'), auto;
}

a:hover, button:hover {
    cursor: url('/img/puntero/punteroHover.png'), auto;
}
